PORT=3000
IMAGE_MODEL_API_URL=http://127.0.0.1:8000/predict
IMAGE_MODEL_TIMEOUT_MS=20000
TEXT_MODEL_API_URL=http://127.0.0.1:8001/predict
TEXT_MODEL_TIMEOUT_MS=20000
UPLOAD_DIR=tmp
MAX_IMAGE_SIZE_MB=10
